<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="text" scope="locale">
            <name>random_text</name>
            <label lang="de">RANDOM DE Text</label>
            <label lang="en">RANDOM EN Text</label>
            <value>Voll der FUn! Hallo Welt</value>
            <description>Freiwilliger Hilfetext ohne nützliche Infos.</description>
        </element>
    </elements>
</config>